@font-face {
  font-family: Product-Sans-Regular;
  src: url(./assests/Product-Sans-Regular.ttf);
}

@font-face {
  font-family: Product-Sans-Bold;
  src: url(./assests/Product-Sans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Product-Sans-Regular, Product-Sans-Bold, 'Quicksand', 'Montserrat';
}