.todos-comp {
    overflow-y: auto;
    max-height: calc(100%);
}

.todos {
    // overflow-y: auto;
    // max-height: calc(100% - 132px);
    max-width: 100%;

    .todo {
        display: flex;
        padding: 10px 12%;
        border-bottom: 1px solid #e1e1e1;

        input {
            display: block;
            margin-top: 4px;
            margin-right: 16px;
        }
        p {
            margin-left: 20px;
            font-size: 16px;
            color: #1e1e1e;
        }
    }

}
